#itemnotepage
{
	height: 480px;			/* entspricht in etwa 15 Bl�cken -> sollte so bleiben!!! */
	width: 640px;			/* entspricht in etwa 20 Bl�cken -> bei �nderung auch die folgenden Zeilen anpassen!!! */
	
	position: absolute;		/* damit man relativ zum body ausrichten kann */
	top: 50%;
	left: 50%;				/* linke, obere Ecke exakt in Fenstermitte */
	margin-top: -240px;		/* jetzt um halbe background-Ausma�e nach links oben verschoben */
	margin-left: -320px;	/* => background-Div ist immer exakt mittig im Browserfenster :-) */
	
	z-index: 99999;			/* itemnotepage ist vor allem au�er dem Ladebildschirm!!! */
	
	background-color: rgba(0,0,0,0.7); /* ein leicht durchsichtiges Grau */
	font-family: 'Comic Sans MS' , 'Georgia' , 'Arial';
	font-size: 28px;
	font-weight: bold;
	color: white;
}

#exit_itemnotepage, #back_to_menu
{
	
	padding: 5px 10px;
	
	position: absolute;
	
	text-align: center;
	border: 2px #000 solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	font-weight: bold;
	box-shadow: 1px 1px 5px #333;
}

#back_to_menu
{
	background: rgb(235, 95, 95);
	background: -webkit-linear-gradient(top, rgb(108, 93, 243), #fb0, #f90);
	background: -moz-linear-gradient(top, rgb(104, 118, 246), #fb0, #f90);
	background: -o-linear-gradient(top, #f90, #fb0, #f90);
	background: linear-gradient(top, #f90, #fb0, #f90);	

	width: 100px;
	bottom: 34px;
	left: 258px;
	font-size: 12px;
	color: black;
}

#exit_itemnotepage
{
	padding: 0px, 0px, 8px, 0px;
	width: 15px;
	height: 24px;
	background-color: red;
	font-size: 16px;
	top: 15px;
	right: 16px;
}

#exit_itemnotepage:hover, #back_to_menu:hover
{
	box-shadow: 3px 3px 5px #000;
	cursor: auto;
}



#rightarrow, #rightarrow1, #rightarrow2, #rightarrow3, #rightarrow4, #rightarrow5, #Strg
{
	margin: 0;
	padding: 0;
	width: 80px;
	height: 80px;
	text-align: right;
	position: absolute;
} 

#rightarrow
{
	top: 35px;
	left: 110px;
}

#rightarrow1
{
	top: 115px;
	left: 110px;
}

#rightarrow2
{
	top: 195px;
	left: 110px;
}

#rightarrow3
{
	top: 275px;
	left: 110px;
}

#rightarrow4
{
	top: 350px;
	left: 110px;
}

#rightarrow5
{
	top: 430px;
	left: 110px;
}

#Strg
{
	width: 150px;
	
	left: 40px;
	top: 350px;
}

.text
{
	margin: 0;
	padding: 0;
	width: 350px;
	height: 80px;
	text-align: left;
}

#texts
{
	position: absolute;
	left: 200px;
	top: 30px;
}




